/* Home icon */
.homeicon img{
    border-radius: 0%;
    border: 0px solid white;
    opacity: 100%;
    transition: 0.3s;
}

#home:hover{
    opacity: 30%;
}


/* Mods */
body{
    background-color: rgb(0, 0, 19);
    color: white;
    font-family: "Comfortaa", Arial;
}

#modsheader{
    font-size: 300%;
    text-align:center
}

.bonelabmods{
    text-align: center;
}

.blhaki img {
    border: 5px solid black;
}

.blhaki{
    margin: auto;
    border: 3px solid rgb(0, 255, 32);
    background-color: rgb(9, 0, 52);
    width: 1000px;
}

.myhouse{
    margin: auto;
    border: 3px solid rgb(0, 255, 32);
    background-color: rgb(9, 0, 52);
    width: 1300px;
}

.offices{
    margin: auto;
    border: 3px solid rgb(0, 255, 32);
    background-color: rgb(9, 0, 52);
    width: 1100px;
}

.mapsimgs img{
    width: 500px;
    border: 5px solid black;
}


/* Art */
.blenderart img{
    width: 500px;
}

.blenderart{
    text-align:center
}

#artheader{
    font-size: 300%;
    text-align:center;
}

.strawhat{
    margin: auto;
    border: 3px solid rgb(0, 255, 32);
    background-color: rgb(9, 0, 52);
    width: 800px;
}

.logpose{
    margin: auto;
    border: 3px solid rgb(0, 255, 32);
    background-color: rgb(9, 0, 52);
    width: 700px;
}

.ghost{
    margin: auto;
    border: 3px solid rgb(0, 255, 32);
    background-color: rgb(9, 0, 52);
    width: 650px;
}

.hassaikai{
    margin: auto;
    border: 3px solid rgb(0, 255, 32);
    background-color: rgb(9, 0, 52);
    width: 800px;
} #Hassaikai02img{
    width: 160px;
}

.chopperhat{
    margin: auto;
    border: 3px solid rgb(0, 255, 32);
    background-color: rgb(9, 0, 52);
    width: 600px;
}

.donut{
    margin: auto;
    border: 3px solid rgb(0, 255, 32);
    background-color: rgb(9, 0, 52);
    width: 1100px;
}