.BLMods{
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 300%;
    font-family: "Comfortaa", Arial;
}

.modspfpcontainer img{
    position:absolute;
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 100%;
    border: 0px solid white;
    transition: 0.3s;
}

#modspfp:hover{
    opacity: 30%;
}

.explorer{
    position: relative;
    top: 0px;
    left: -80px;
}
